
.mainFxmlClass {
    -fx-background-color: rgb(3, 109, 175);
}
#sa {
    -fx-background-color: rgb(228, 179, 0);
}
#MenuItem{
    -fx-background-color: transparent;
}
#MenuItem:hover{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
#MenuButton{
    -fx-background-color: transparent;
}
#MenuItem_EditBD{
    -fx-background-color: transparent;
}
#MenuItem_EditBD:hover {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}